
<div class="tabs mt-5">
	<div class="tab active btn-5" id="submitClaim">
		<i class="fa fa-file-text-o"></i>
		Submit Claim
	</div>
	<div class="tab btn-5" id="checkStatus">
		<i class="fa fa-search"></i>
		Check Status
	</div>
</div>

<form id="submitClaimForm" class="active" method="post" asp-antiforgery="true">
	<input type="text" id="policyNumber" placeholder="Enter policy number" name="policyNumber" required>

	<input type="text" id="emailAddress" placeholder="Enter email adress" name="emailAddress" required>
	
	<input type="text" id="phoneNumber" placeholder="Enter phone number" name="phoneNumber" required>

	<textarea id="claimDescription" placeholder="Enter claim description" name="claimDescription"></textarea>
	<div class="d-flex justify-content-end">
		<button id="submitClaimBtn" class="submitForm px-5 py-2">
			<i class="fas fa-check-circle"></i> Submit
		</button>
	</div>
</form>

<form id="checkStatusForm" method="post" asp-antiforgery="true">
	<input type="text" id="claimNumber" placeholder="Enter Claim number" name="claimNumber" required>
	<div class="d-flex justify-content-end">
		<button id="checkStatusBtn" class="submitForm px-5 py-2">
			<i class="fas fa-check-circle"></i> Submit
		</button>
	</div>
</form>
<div id="claimsModal" class="form-sha claims-modal">
	<div class="p-5 m-5 container">
		<div>
			<span id="closeIcon">
				<i class="fas fa-times"></i> 
			</span>
		</div>
		<h2 class="claim-status-heading">Claim Status</h2>
		<table>
				<thead>
					<tr>
						<th>Claim Number</th>
						<th>Status</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="policyNumber">123456</td>
						<td id="status" class="status-approved">Approved</td>
						<td id="ceatedAt">2024-01-03</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>
@section Scripts{
	<script src="~/js/site.js" type="module" asp-append-version="true"></script>
}
